/* Card.css */

.Card {
    width: 500px;
    height: 300px;
    perspective: 1000px;
    position: relative;
  }
  
  .Card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.1s;
    transform-style: preserve-3d;
  }
  
  .Card.flipped .Card-inner {
    transform: rotateY(180deg);
  }
  
  .Card-front,
  .Card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .Card-front {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Card-back {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h3 {
    margin: 0;
  }

  .light-pink {
    background: rgba(248, 183, 194, 0.7);
  }
  
  .light-blue {
    background: rgba(21, 188, 244, 0.7);
  }
  
  .light-green {
    background: rgba(123, 227, 172, 0.7);
  }
  
  .light-red {
    background: rgba(218, 76, 76, 0.7);
  }
  